/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --font-color: #131313;
    --text-color:#727272;
    --btn-color:#FF900E;
}
.container{
    margin: 8% 9%;
}


* {
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.col-flex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
.fa-magnifying-glass{
    display: none;
}

/* .header-text {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: var(--font-color);
} */

/*---------------------------------------------------------
                 Header Nav Section Starts Here
    ------------------------------------------------------------ */
input {
    display: none;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    margin: 0 10%;
    padding-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav-title {
    font-size: 30px;
    line-height: 53px;
    font-weight: 700;
    color: var(--font-color);
    white-space: nowrap;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.nav-title:hover{
    text-shadow: -5px 5px 2px rgba(0, 0, 0, 0.325);
    transform: translate(5px, 5px);
}

.nav-title>h2>span {
    color: red;
}

.nav-list {
    white-space: nowrap;
    gap: 20px;
    list-style: none;

}

.nav-list>li {
    padding-left: 10px;  
}

.nav-list>li>a {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #424242;
}
.nav-list>li>a:hover{
    font-weight: 600;
}

.nav-list>li>a::after {
    display: block;
    content: "";
    border-bottom: 4px solid rgb(16, 215, 255);
    transform: scale(0);
    transition: all .2s ease-in-out;
}

.nav-list>li>a:hover:after {
    transform: scale(1);
}


/*---------------------------------------------------------
                 Header Nav Section Ends Here
    ------------------------------------------------------------ */


/*--------------------------------------------------------
                 Header Ban Section Starts Here 
    -------------------------------------------------------------*/
.header-ban {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 100px 0 0 0;
}

.header-text {
    margin: 0 0 32px 0;
    width: 862px;
    height: 225px;
    justify-content: space-between;
}

.header-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--font-color);
}
.primary-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
}
.header-btn,.primary-btn{
    padding: 25px;
    margin-bottom: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: var(--btn-color);
    cursor: pointer;
}
.header-btn:hover,
.primary-btn:hover{
    background-color: rgb(255, 98, 0);
    font-weight: 700;
}
.header-btn:focus,
.primary-btn:focus{
    background-color: green;
}

.header-img{
    width: 85%;
    height: auto;
    overflow: hidden;
    margin: 45px 200px;
    border-radius: 10px;
}
.header-img>img{
    width: 100%;
}

/*--------------------------------------------------------
                 Header Ban Section Ends Here 
    -------------------------------------------------------------*/


/*----------------------------------------------------- 
                    Team Section Starts Here
     -------------------------------------------------------*/  
     
.team{
    gap: 7%;
}
.team>div{

}
.team-images{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.team-images>.image>img{
    width: 100%;
}
.team-description{
    width: 40%;
}
.team-description .primary-description{
    padding-bottom: 30px;
}

     
/*-------------------------------------------------------
                    Team Section Ends Here
    ----------------------------------------------------------- */

/* --------------------------------------------------------
                     Feature Section Starts Here 
    -------------------------------------------------------------- */
.features{
    margin: 150px 100px 100px 100px;
    padding-bottom: 50px;
    align-items: center;
    gap: 55px;
    position: relative;
}
.features-text{
    width: 50%;
}
.features-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--font-color);
    border-left: 5px solid var(--btn-color);
    padding:0 50px 0 25px;
    margin: 25px 0;
}
.features-para{
    padding-bottom: 20px;
}
.features-items{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.feature-item{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.feature-item:hover{
    background-color: rgba(255, 192, 203, 0.245);
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.293);
    transform: translate(-5px, 5px);
}
.item-description{
    padding-top: 10px;
}
.features-img>img{
    width: 100%;
}
.exprience{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 45px;
    transform: translateX(-50%);
}
.exp-title{
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
}
.exprience>p{
    padding-top: 10px;
    text-align: center;
}
/* ---------------------------------------------------------
                     Feature Section Ends Here 
-------------------------------------------------------------- */

/*----------------------------------------------------------
                     Facts Section Starts Here 
---------------------------------------------------------------*/




/*----------------------------------------------------------
                     Facts Section Ends Here 
---------------------------------------------------------------*/

.some-facts{
    padding: 0 10px;
}
.fact-title,.sponsors-title,.projects-title{
    padding: 20px 0 20px 0px;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: var(--font-color);
}
.some-facts .primary-description{
    padding: 0 50% 0 0;
}
.fact-boxes{
    justify-content: space-around;
    margin: 90px 0;
}
.fact-box{
    width: 242px;
    height: 242px;
    margin-bottom: 70px;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #FF900E;
    cursor: pointer;
}
.fact-box:hover{
    background-color: rgba(255, 0, 0, 0.071);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.197),
                inset -2px -2px 5px rgba(0, 0, 0, 0.197),
                inset 5px 5px 10px rgba(0, 0, 0, 0.126),
                inset -5px -5px 10px rgba(0, 0, 0, 0.126);
}
.fact-boxes .point{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}
.fact-box>p{
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    font-weight: 600;
}

/*----------------------------------------------------------
                     Facts Section Ends Here 
---------------------------------------------------------------*/
/*-------------------------------------------------------------
                Running Projects Section Starts Here 
-------------------------------------------------------------------*/

hr{
    height: 2px;
    background-image: linear-gradient(90deg,transparent, red, transparent);
    border: none;
}

.projects{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0% 0px 0% ;
}
.projects-description{
    padding: 20px 22% 50px 22%;
    text-align: center;
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px ;
    perspective: 4000px;
}
.project-cards>div{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.184);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* transform: rotateX(5deg); */
}
.project-cards>div:hover{
    background:linear-gradient(45deg,rgba(255, 4, 4, 0.078),rgba(255, 255, 255, 0.429) 50%,rgba(15, 157, 5, 0.127));
    transform: rotateX(5deg);
}
.card-header{
    padding: 20px 0;
}
.card-price{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    padding: 5px 0;
}
.card-price>span{
    color: var(--font-color);
}
.card-ratting{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    color: var(--btn-color);
    padding-bottom: 10px;
}
.material-symbols-outlined{
    position: relative;
    top: 5px;
}
.ratting-point{
    font-size: 19px;
    font-weight: 600;
    position: relative;
    top: 3px;
    color: var(--font-color);
}

.card-text{
    padding: 5px 0;
    color: rgb(133, 133, 133);

}
.card-text>span{
    color: var(--font-color);
    font-weight: 700;
}


.img>img{
    width: 280px;
    height: 180px;
    border-radius: 5px;
}

.see{
    font-size: 20px;
    color: var(--font-color);
    font-weight: 700;
    line-height: 50px;
    margin: 50px 50px 0 0 ;
    position: relative;
    left: 45%;
    cursor: pointer;
    transition: all .1s;
}
.see:hover{
    color: red;
}


/*-------------------------------------------------------------
                Running Projects Section Es Here 
-------------------------------------------------------------------*/

/*-----------------------------------------------------------
             Our Sponsors Section Starts Here
---------------------------------------------------------------*/

.sponsors{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 70px;
}
.sponsors .sponsors-title{
    padding: 0px;
}
.sponsors>p{
    padding:0 30% 50px 30%;
    text-align: center;
}
.sponsor-brand{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap:80px;   
}
.brand{
    perspective: 1000px;
}
.brand>img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}
.brand>img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: rotateX(10deg);
}

/*-----------------------------------------------------------
             Our Sponsors Section Ends Here
---------------------------------------------------------------*/

/*--------------------------------------------------------------
                        Footer Starts Here 
 ------------------------------------------------------------------*/
 
footer{
    width: 100%;
    height: 100px;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 100px;
}
footer>p{
    margin: 0 auto;
    line-height: 100px;
    width: 90%;
    background-color:  #FFF4E7;
}

/*--------------------------------------------------------------
                        Footer Ends Here 
 ------------------------------------------------------------------*/


 /*-----------------------------------------------------------
                 Media Queries Starts Here 
    --------------------------------------------------------------*/

/*----------------- Mobile devices------------------------- */
@media only screen and (max-width:576px){

    .flex{
        flex-flow: column nowrap;
    }
    .container{
        margin: 50px 7%;
    }
    .primary-description{
        align-items:center;
        text-align: center;
    }
    
    
    
    
    /* nav styles starts here*/
    nav{
        width: 100%;
        padding: 30px 0;
        margin: 0%;
    }
    .nav-title{
        font-size: 18px;
        padding: 0;
        justify-content: center;
        align-items: center;
        order: 2;
    }
    
    
    .nav-list{
        position: absolute;
        flex-flow: column nowrap;
        top: 120px;
        background-color: #c7c7c732;
        padding: 10px 0 30px 0;
        backdrop-filter: blur(5px);
        left: -100%;
        transition: all .5s ;
        gap: 5px;
    }
    .nav-list>li{
        width: 180px;
        border-bottom: 2px solid rgba(192, 192, 192, 0.414);
        padding:0 25px 0 50px;
        text-decoration: none; 
        transition: all .1s;
    }
    .nav-list>li:last-child{
        border-bottom: 0;
    }
    .nav-list>li:hover{
        border-bottom: 2px solid rgba(0, 96, 250, 0.581);
    }
    .nav-list>li>a{
        line-height: 55px;
    }
    .nav-list>li>a::after{
        border-bottom:0;
    }

    /* Hamburger Menu Style Starts Here */

    .nav .menu-icon{
        display: block;
        position: relative;
        background-color: transparent;
        padding: 25px 0px 30px 30px;
        order: 1;
    }
    .nav .menu-btn{
        display: none;
    }
    .nav .menu-icon .nav-icon{
        display: block;
        background-color: var(--font-color);
        height: 3px;
        width: 25px;
        position: relative;
        transition: all .2s ease-in-out;
    }
    .nav .menu-icon .nav-icon::before{
        content: "";
        display: block;
        background-color: var(--font-color);
        height: 100%;
        width: 100%;
        position: absolute;
        top: -6.8px;
        transition: all .2s ease-in-out;
    }
    .nav .menu-icon .nav-icon::after{
        content: "";
        display: block;
        background-color: var(--font-color);
        height:100%;
        width: 100%;
        position: absolute;
        top: 6.8px;
        transition: all .2s ease-in-out;
    }
    .nav input:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    .nav input:checked ~ .menu-icon .nav-icon::before{
        top: 0;
        transform: rotate(45deg);
    }
    .nav input:checked ~ .menu-icon .nav-icon::after{
        top: 0;
        transform: rotate(-45deg);
    }
    .nav input:checked ~ .nav-list{
        left: 0;
    }

    /* Hamburger Menu Style Ends Here */


    .fa-magnifying-glass{
        display: block;
        padding: 20px;
        color:#131313;
        cursor: pointer;
        font-size: 20px;
        order: 3;
    }
    .fa-magnifying-glass:hover{
        color: rgb(0, 140, 255);
    }

    /* Nav Style Ends Here */

    /* Header Banner Starts Here */
    
    .header-ban{
        margin: 20px 0;
    }
    .header-text{
        width: 100%;
        padding:0 20px;
    }
    .header-title{
        font-size: 30px;
        padding-top: 0;
        margin-top: 0;
    }
    .header-btn{
        margin-top: 80px;
    }
    .header-img{
        width: 85%;
        height: auto;
        overflow: hidden;
        margin: 45px 200px;
        border-radius: 10px;
    }
    .header-img>img{
        width: 100%;
    }
    
    
    /* Header Banner Ends Here */

    /* Team Section Starts Here */

    .team{
        padding: 0;
        margin: 0;
    }
    .team-images{
        order: 2;
        grid-template-columns: repeat(1,1fr);
    }
    .team-images>.image>img{
        width: 100%;
    }
    .team-description{
        padding: ;
        order: 1;
    }
    .team-description{
        
    }
    .primary-description{
        text-align: center;
    }
    .primary-btn{
        display: block;
        margin: 0 auto;
    }
    /* ---------------------Team Section Ends Here --------------------*/

    /*------------------- Feature Section Starts Here ---------------- */
    
    .features{
        margin: 7%;
    }
    .features-text{
        width: 100%;
    }
    .feature-items{
        padding: 0%;
        margin: 0%;
    }
    .feature-item{
        padding: 20px;
        text-align: center;
    }
    .item-description{
        padding: 25px 0;
        text-align: justify;
    }
    .features-img>img{
        width: 100%;
    }
    .exprience{
        bottom: -100px;
        width: 100%;
        padding: 20px 0;
    }
    .exp-title{
        font-size: 40px;
        text-align: center;
    }
    
    /*------------------- Feature Section Ends Here ---------------- */

    /*------------------- Facts Section Starts Here ------------------*/

    .fact-title,.projects-title,.sponsors-title{
        padding-top: 100px;
        font-size: 35px;
        text-align: center;
    }
    .some-facts .primary-description{
        padding:0;
    }
    .fact-boxes{
        justify-content: space-around;
        margin: 30px 0;
    }
    .fact-box{
        padding: 0;
        margin: 20px 0;
    }
    
    /*------------------- Facts Section Ends Here ------------------*/

    /*------------- Running Projects Section Starts Here ------------*/

    .projects{
        margin: 0;
    }
    .projects .projects-title{
        padding: 40px 0 0 0;
    }
    .projects-description{
        padding: 20px 2% 50px 2%;
    }
    .project-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px ;
        perspective: 4000px;
    }
    .see{
        margin: 20px 70px 0 0 ;
    }
    
    
    /*------------- Running Projects Section Ends Here ------------*/

    /*---------------- Sponsors Section Starts Here ------------------*/

        .sponsors>p {
            padding: 20px 2% 50px 2%;
            text-align: center;
        }
        .sponsor-brand{
            grid-template-columns: repeat(1,200px);
            text-align: center; 
        }
    
    
    /*---------------- Sponsors Section Starts Here ------------------*/

    /* --------------------Footer Starts Here --------------------------*/

    footer>p{
        margin: 0 auto;
        padding: 50px 20px;
        line-height: 50px;
        width: 100%;
        background-color:  #FFF4E7;
    }
    
    /* --------------------Footer Ends Here --------------------------*/

}

/* ----------------- Tablet devices------------------------- */
@media only screen and (min-width:577px) and (max-width:992px){
    .flex{
        flex-flow: column wrap;
    }
    .container{
        margin: 50px 7%;
    }
    .primary-description{
        align-items:center;
        text-align: center;
    }
    
    
    
    
    /* nav styles starts here*/
    nav{
        width: 100%;
        padding: 30px 0;
        margin: 0%;
    }
    .nav-title{
        font-size: 18px;
        padding: 0;
        justify-content: center;
        align-items: center;
        order: 2;
    }
    
    
    .nav-list{
        position: absolute;
        flex-flow: column nowrap;
        top: 120px;
        background-color: #c7c7c732;
        padding: 10px 0 30px 0;
        backdrop-filter: blur(5px);
        left: -100%;
        transition: all .5s ;
        gap: 5px;
    }
    .nav-list>li{
        width: 180px;
        border-bottom: 2px solid rgba(192, 192, 192, 0.414);
        padding:0 25px 0 50px;
        text-decoration: none; 
        transition: all .1s;
    }
    .nav-list>li:last-child{
        border-bottom: 0;
    }
    .nav-list>li:hover{
        border-bottom: 2px solid rgba(0, 96, 250, 0.581);
    }
    .nav-list>li>a{
        line-height: 55px;
    }
    .nav-list>li>a::after{
        border-bottom:0;
    }

    /* Hamburger Menu Style Starts Here */

    .nav .menu-icon{
        display: block;
        position: relative;
        background-color: transparent;
        padding: 25px 0px 30px 30px;
        order: 1;
    }
    .nav .menu-btn{
        display: none;
    }
    .nav .menu-icon .nav-icon{
        display: block;
        background-color: var(--font-color);
        height: 3px;
        width: 25px;
        position: relative;
        transition: all .2s ease-in-out;
    }
    .nav .menu-icon .nav-icon::before{
        content: "";
        display: block;
        background-color: var(--font-color);
        height: 100%;
        width: 100%;
        position: absolute;
        top: -6.8px;
        transition: all .2s ease-in-out;
    }
    .nav .menu-icon .nav-icon::after{
        content: "";
        display: block;
        background-color: var(--font-color);
        height:100%;
        width: 100%;
        position: absolute;
        top: 6.8px;
        transition: all .2s ease-in-out;
    }
    .nav input:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    .nav input:checked ~ .menu-icon .nav-icon::before{
        top: 0;
        transform: rotate(45deg);
    }
    .nav input:checked ~ .menu-icon .nav-icon::after{
        top: 0;
        transform: rotate(-45deg);
    }
    .nav input:checked ~ .nav-list{
        left: 0;
    }

    /* Hamburger Menu Style Ends Here */


    .fa-magnifying-glass{
        display: block;
        padding: 20px;
        color:#131313;
        cursor: pointer;
        font-size: 20px;
        order: 3;
    }
    .fa-magnifying-glass:hover{
        color: rgb(0, 140, 255);
    }

    /* Nav Style Ends Here */

    /* Header Banner Starts Here */
    
    .header-ban{
        margin: 20px 0;
    }
    .header-text{
        width: 100%;
        padding:0 20px;
    }
    .header-title{
        font-size: 30px;
        padding-top: 0;
        margin-top: 0;
    }
    .header-btn{
        margin-top: 80px;
    }
    .header-img{
        width: 85%;
        height: auto;
        overflow: hidden;
        margin: 45px 200px;
        border-radius: 10px;
    }
    .header-img>img{
        width: 100%;
    }
    
    
    /* Header Banner Ends Here */

    /* Team Section Starts Here */

    .team{
        padding: 0;
        margin: 0;
        
    }
    .team-images{
        width: 100%;
        order: 1;
        grid-template-columns: repeat(2,1fr);
        
    }
    .team-images>.image>img{
        width: 100%;
    }
    .team-description{
        padding: 40px 10% 0 10%;
        width: 100%;
        order: 2;
    }
    .team-description{
        
    }
    .primary-description{
        text-align: center;
    }
    .primary-btn{
        display: block;
        margin: 0 auto;
    }
    /* ---------------------Team Section Ends Here --------------------*/

    /*------------------- Feature Section Starts Here ---------------- */
    
    .features{
        margin: 7%;
        position: relative;
    }
    .features-text{
        width: 100%;
    }
    .feature-items{
        padding: 0%;
        margin: 0%;
    }
    .feature-item{
        padding: 20px;
        text-align: center;
    }
    .item-description{
        padding: 25px 0;
        text-align: justify;
    }
    .features-img>img{
        width: 100%;
    }
    .exprience{
        bottom: -100px;
        width: 100%;
        padding: 20px 0;
    }
    .exp-title{
        font-size: 40px;
        text-align: center;
    }
    .features .primary-btn{
        position: absolute;
        background-color: rgba(255, 166, 0, 0.122);
        bottom: 20%;

    }
    /*------------------- Feature Section Ends Here ---------------- */

    /*------------------- Facts Section Starts Here ------------------*/

    .fact-title,.projects-title,.sponsors-title{
        padding-top: 0px;
        font-size: 35px;
        text-align: center;
    }
    .some-facts .primary-description{
        padding:0;
    }
    .fact-boxes{
        justify-content: space-around;
        flex-flow: wrap;
        margin: 30px 0;
        gap: 20px;
        padding:0 10%;
    }
    .fact-box{
        padding: 0;
        margin: 20px 0;
    }
    
    /*------------------- Facts Section Ends Here ------------------*/

    /*------------- Running Projects Section Starts Here ------------*/

    .projects{
        margin: 0;
    }
    .projects .projects-title{
        padding: 40px 0 0 0;
    }
    .projects-description{
        padding: 20px 2% 50px 2%;
    }
    .project-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px ;
        perspective: 4000px;
    }
    .see{
        margin: 20px 70px 0 0 ;
    }
    
    
    /*------------- Running Projects Section Ends Here ------------*/

    /*---------------- Sponsors Section Starts Here ------------------*/

        .sponsors>p {
            padding: 20px 2% 50px 2%;
            text-align: center;
        }
        .sponsor-brand{
            grid-template-columns: repeat(2,200px);
            text-align: center; 
        }
    
    
    /*---------------- Sponsors Section Starts Here ------------------*/

    /* --------------------Footer Starts Here --------------------------*/

    footer>p{
        margin: 0 auto;
        padding: 50px 20px;
        line-height: 50px;
        width: 100%;
        background-color:  #FFF4E7;
    }
    
    /* --------------------Footer Ends Here --------------------------*/
}

/* ----------------------Extra Large devices --------------------------*/

@media only screen and (min-width:993px) and (max-width:1320px){
  
    nav{
        width: 100%;
        padding: 40px;
        margin: 0%;
    }
    .nav-list {
        white-space: nowrap;
        gap: 10px;
        list-style: none;
    
    }
    /*------------------- Feature Section Starts Here ---------------- */
     
    .exprience{
        position: absolute;
        bottom: 40%;
        left: 70%;
        padding: 45px;
        background-color: rgba(255, 166, 0, 0.19);
        z-index: 1;
    }
    .feature-item:hover{
        z-index: 10;
    }
     
    /*------------------- Feature Section Starts Here ---------------- */
    
    /*------------- Running Projects Section Starts Here ------------*/

    .projects{
        margin: 0;
    }
    .projects .projects-title{
        padding: 40px 0 0 0;
    }
    .projects-description{
        padding: 20px 2% 50px 2%;
    }
    .project-cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px ;
        perspective: 4000px;
    }
    .see{
        margin: 20px 70px 0 0 ;
    }
    
    
    /*------------- Running Projects Section Ends Here ------------*/



     /*---------------- Sponsors Section Starts Here ------------------*/

     .sponsors>p {
        padding: 20px 2% 50px 2%;
        text-align: center;
    }
    .sponsor-brand{
        grid-template-columns: repeat(3,200px);
        text-align: center; 
    }


/*---------------- Sponsors Section Starts Here ------------------*/
}